.mainWrapper {
  height: 100vh;
}
.topWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: #111;
  padding: 2rem;
}
.topWrapper h1 {
  width: 50%;
  color: #dfd08b;
}
.imageWrapper {
  position: relative;
  width: 200px;
  height: auto;
}
.contentWrapper {
  padding: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.formInputWrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px #111 solid;
}
.formInputWrapper .item {
  display: flex;
  flex-direction: column;
}
.formInputWrapper .item span {
  font-size: 1.2rem;
  margin-top: 8px;
}
.formInputWrapper form {
  width: 80%;
}
.formInputWrapper .item input {
  padding: 8px 16px;
  width: 100%;
}
.formInputWrapper button {
  padding: 16px 24px;
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  min-width: 200px;
}
.formInputWrapper h3 {
  padding: 8px;
  background-color: #dfd08b;
  border: solid 2px #111;
  margin-top: 16px;
  text-align: center;
  width: 80%;
}
.formInputWrapper .buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger {
  width: 25px;
  height: 25px;
}
.hamburger .hamburgerSlice {
  background-color: #fff;
  height: 2px;
  width: 20px;
  margin: 4px 0px;
}
.hamburger:hover {
  cursor: pointer;
}
.sideMenu {
  top: 0px;
  right: -80vw;
  position: fixed;
  width: 80vw;
  max-width: 350px;
  height: 100vh;
  z-index: 10;
  background-color: #111;
  transition-duration: 0.6s;
  padding: 60px 20px;
}
.sideMenu .close {
  position: absolute;
  color: #fff;
  top: 16px;
  left: 16px;
  cursor: pointer;
}
.sideMenu .menu {
  color: #fff;
  font-size: 18px;
  margin: 8px 0px;
  padding: 8px;
  transition-duration: 0.3s;
  cursor: pointer;
}
.sideMenu .menu:hover {
  background-color: #dfd08b;
}
.opened {
  right: 0px;
}

.tableStocks {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100vw;
}

.tableStocks td,
.tableStocks th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tableStocks tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tableStocks tr:hover {
  background-color: #ddd;
}

.tableStocks th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #dfd08b;
  color: white;
}

.tableStocks .edit {
  cursor: pointer;
}
.tableStocks .edit:hover {
  color: rgb(92, 126, 189);
}

.tableStocks .delete {
  cursor: pointer;
}
.tableStocks .delete:hover {
  color: rgb(196, 92, 92);
}

@media (max-width: 768.98px) {
  .topWrapper {
    flex-direction: column-reverse;
  }
  .topWrapper h1 {
    width: 100%;
    text-align: center;
  }
  .imageWrapper {
    height: 50px;
    width: auto;
  }
  .formInputWrapper {
    width: 100%;
  }
  .formInputWrapper button {
    width: 100%;
  }
}
